.hero {
  background-color: $color-background-secondary;
  margin: 0 auto;
  padding: 118px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mq(mobile-only) {
    background-image: linear-gradient($gradient), url(../images/hero-bgc_sm.jpg);
    max-width: 480px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient($gradient),
        url(../images/hero-bgc_sm@2x.jpg);
    }
  }

  @include mq(tablet) {
    background-image: linear-gradient($gradient), url(../images/hero-bgc_md.jpg);
    max-width: 768px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient($gradient),
        url(../images/hero-bgc_md@2x.jpg);
    }
  }

  @include mq(desctop) {
    background-image: linear-gradient($gradient), url(../images/hero-bgc_lg.jpg);
    padding: 200px 0;
    max-width: 1600px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient($gradient),
        url(../images/hero-bgc_lg@2x.jpg);
    }
  }
}

.hero__container {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.hero__title {
  color: $color-white;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 360px;

  @include mq(desctop) {
    font-size: 44px;
    width: 696px;
  }
}
