.primary-button {
  color: $color-white;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: $color-brand;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}
