.footer {
  background-color: $color-background-secondary;
  padding: 60px 0;
  text-align: center;

  @include mq(desctop) {
    text-align: left;
  }
}

.footer__container {
  @include mq(mobile) {
    display: inline-block;
  }

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
  }

  @include mq(desctop) {
    display: flex;
    gap: 70px;
    align-items: baseline;
  }
}

.footer__contacts,
.footer__social {
  @include mq(mobile-only) {
    margin-bottom: 60px;
  }
}

.footer__logo {
  color: $color-white;
}

.footer__social-title {
  color: $color-white;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__social-link {
  background-color: $color-background-icon-footer;
  color: $color-white;
}

// стилі без світла
// .footer__container {
//   @include mq(tablet) {
//     display: flex;
//     align-items: baseline;
//   }
//   @include mq(desctop) {
//     gap: 70px;
//   }
// }

// .footer {
//   text-align: center;
// }

// .follow-form__input {
//   max-width: 450px;
//   width: 100%;
//   margin-bottom: 20px;
// }

// .follow-form__button {
//   display: inline-block;
// }

// таблетна версія
// .footer__container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
// }
