body {
  color: $color-primary;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  background-color: $color-white;
}

.section {
  padding: 60px 0;
  margin: 0;

  @include mq(desctop) {
    padding: 94px 0;
  }
}

.section__title {
  color: $main-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  @include mq(desctop) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  @include mq(mobile) {
    width: 480px;
  }

  @include mq(tablet) {
    width: 768px;
  }

  @include mq(desctop) {
    width: 1200px;
  }
}
