.contacts {
  @extend %space-betweenFlex;
  gap: 50px;
}
.contacts__link {
  color: $color-primary;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  @extend %space-betweenFlex;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-brand;
  }
}
.contacts__icon {
  fill: currentColor;
}
