.checkbox-accept {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;

  @include mq(desctop) {
    padding-left: 12px;
  }
}

.checkbox-accept__checkbox {
  @extend %is-hidden;
  display: none;

  &:checked + .checkbox-accept__icon {
    border: none;
    background-color: $color-brand;
    background-size: contain;
    background-origin: border-box;
    fill: $color-white;
  }
}

.checkbox-accept__icon {
  width: 16px;
  height: 15px;
  @include centeredFlex();
  border-radius: 2px;
  border: 2px solid $main-color;
  fill: transparent;
}

.checkbox-accept__label {
  @include mq(not-desctop) {
    font-size: 12px;
    line-height: 1, 17;
  }
}

.checkbox-accept__link {
  color: $color-brand;
}
