.team {
  background: $color-background-team-section;
}

.team__list {
  // display: flex;
  // padding: 0;
  // gap: 30px;
  @include card-set;
}

.team__item {
  background-color: $color-background;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include mq(mobile) {
    @include card-set-item(1);
  }

  @include mq(tablet) {
    @include card-set-item(2);
  }

  @include mq(desctop) {
    @include card-set-item(4);
  }
}

.team__wrapper {
  padding: 30px 0 24px 0;

  @include mq(desctop) {
    padding-bottom: 30px;
  }
}

.team__name {
  color: $main-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
